<div>
  <div
    *ngFor="let line of puzzle; let y = index"
    style="height: {{ lineHeight }}px">
    <span
      *ngFor="let char of line; let x = index"
      id="char-{{ x }}-{{ y }}"
      class="h6 bg-light text-black text-center align-baseline border user-select-none"
      [ngStyle]="{ width: lineHeight + 'px', height: lineHeight + 'px' }"
      [innerText]="char">
    </span>
    <span
      *ngFor="let char of line; let x = index"
      id="target-{{ x }}-{{ y }}"
      class="tall user-select-none"
      [ngStyle]="getStyle(getEl({ x: x, y: y })!)"
      (mousedown)="startDrag(x, y)"
      (mouseup)="endDrag(x, y)"
      (mouseover)="enterDrag(x, y)">
    </span>
  </div>
  <div>
    <div
      *ngFor="let word of answers"
      [ngClass]="word.found ? 'text-primary' : 'text-light'"
      [innerText]="word.answer"></div>
  </div>
</div>

<div id="highlights">
  <div
    *ngFor="let word of answers"
    class="highlight"
    [ngStyle]="
      word.found ? drawLine(word.start, word.end) : { display: 'none' }
    "
    [ngClass]="word.egg ? 'easter-egg' : null"></div>
</div>

<div
  id="current-highlight"
  class="highlight d-none"
  [ngStyle]="drawLine(start, end)"></div>
