ul {
  list-style-type: none;
  position: sticky;
  top: 0;
  padding-left: 30px;
  overflow: hidden;
}

.link:hover {
  text-decoration: underline;
}

button {
  top: 0px;
  display: inline-block;
}

li span:nth-child(1) {
  width: 30px;
  display: inline-block;
}

.collapsible-section {
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -ms-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;
  max-height: 200px;
  overflow: hidden;
}
