<ul class="ps-0">
  <li>
    <button
      (click)="scroller.scrollToAnchor('top')"
      class="btn text-primary pr-auto">
      (Top)
    </button>
  </li>
  <li *ngFor="let section of sections">
    <button
      (click)="scroller.scrollToAnchor(section.id)"
      class="btn text-primary pr-auto">
      {{ section.title ? section.title : "(Top)" }}
    </button>
    <div *ngIf="section.subsections as subsections">
      <ul>
        <li *ngFor="let subsection of subsections">
          <button
            (click)="scroller.scrollToAnchor(subsection.id)"
            class="btn text-primary">
            {{ subsection.title }}
          </button>
          <div *ngIf="subsection.subsections as subsubsections">
            <ul>
              <li *ngFor="let subsubsection of subsubsections">
                <button
                  (click)="scroller.scrollToAnchor(subsubsection.id)"
                  class="btn text-primary">
                  {{ subsubsection.title }}
                </button>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>
