<div class="article-content">
  <p class="display-4">About Me</p>
  <hr class="hr" />
  <div class="row">
    <div class="col">
      <p>
        Hi, my name is Aaron Barge! I graduated from the University of South
        Carolina in 2021 with a BSE in computer engineering. After graduation, I
        was fortunate enough to land a full-time junior software developer
        position in April of 2022. I love the challenges and problem-solving
        nature of programming, as well as the satisfaction of seeing a finished
        product that I had a hand in creating.
      </p>
      <p>
        In my free time, I enjoy working on puzzles, particularly killer sudoku,
        as well as cooking. I find that both activities require creativity,
        attention to detail, and a willingness to experiment, which I enjoy. I
        am excited to continue growing as a software developer and tackling new
        challenges as they arise.
      </p>
    </div>
    <div class="col-auto">
      <app-word-search></app-word-search>
    </div>
  </div>
</div>
