<div>
  <app-section-heading id="docs" title="Documentation"></app-section-heading>

  <app-subsection-heading
    id="configs"
    title="Configuration"></app-subsection-heading>
  <p>
    The bot is easily configurable through a JSON file located in the root of
    the repository.
  </p>
  <app-code-snippet
    title="Example configs.json"
    [content]="configs"
    [languages]="['typescript']"
    [lineNumbers]="true"></app-code-snippet>

  <app-subsection-heading
    id="commands"
    title="Commands"></app-subsection-heading>
  <p>
    Discord's API utilizes cogs to group and categorize the different commands.
    These are the cogs which my Discord bot has.
  </p>

  <app-subsubsection-heading
    id="music"
    title="Music Cog"></app-subsubsection-heading>
  <app-command-list [commands]="music_commands"></app-command-list>

  <app-subsubsection-heading
    id="dnd"
    title="DnD Cog"></app-subsubsection-heading>
  <app-command-list [commands]="dnd_commands"></app-command-list>

  <app-subsubsection-heading
    id="misc"
    title="Misc Cog"></app-subsubsection-heading>
  <app-command-list [commands]="misc_commands"></app-command-list>

  <app-subsection-heading id="events" title="Events"></app-subsection-heading>

  <app-section-heading id="specs" title="Specifications"></app-section-heading>

  <app-subsection-heading
    id="discordpy2"
    title="Discord.py 2.0"></app-subsection-heading>

  <app-subsection-heading
    id="lazy-loading"
    title="Lazy Loading"></app-subsection-heading>

  <app-subsection-heading
    id="spotify"
    title="Spotify Support"></app-subsection-heading>

  <app-section-heading id="credits" title="Credits"></app-section-heading>
</div>
