<div>
  <app-section-heading id="specs" title="Specifications"></app-section-heading>
  <app-subsection-heading
    id="configs"
    title="Configuration"></app-subsection-heading>
  <p>
    The bot is easily configurable through a JSON file located in the root of
    the repository.
  </p>
  <app-code-snippet
    [content]="configs"
    [languages]="['typescript']"
    [lineNumbers]="true"></app-code-snippet>
  <app-subsection-heading
    id="commands"
    title="Commands"></app-subsection-heading>
  <app-section-heading id="credits" title="Credits"></app-section-heading>
</div>
