<div id="inner-project">
  <!--Documentation Section Start-->
  <app-section-heading id="docs" title="Documentation"></app-section-heading>

  <app-subsection-heading
    id="configs"
    title="Configuration"></app-subsection-heading>
  <p>
    The bot is easily configurable through a JSON file located in the root of
    the repository.
  </p>
  <app-code-snippet
    title="Example configs.json"
    [content]="configs"
    [languages]="['typescript']"
    [lineNumbers]="true"></app-code-snippet>

  <app-subsection-heading
    id="commands"
    title="Commands"></app-subsection-heading>
  <p>
    Discord's API utilizes cogs to group and categorize the different commands.
    These are the cogs which my Discord bot has.
  </p>

  <app-subsubsection-heading
    id="music"
    title="Music Cog"></app-subsubsection-heading>
  <app-command-list [commands]="music_commands"></app-command-list>

  <app-subsubsection-heading
    id="dnd"
    title="DnD Cog"></app-subsubsection-heading>
  <app-command-list [commands]="dnd_commands"></app-command-list>

  <app-subsubsection-heading
    id="misc"
    title="Misc Cog"></app-subsubsection-heading>
  <app-command-list [commands]="misc_commands"></app-command-list>

  <app-subsection-heading id="events" title="Events"></app-subsection-heading>
  <!--Documentation Section End-->

  <!--Specifications Section Start-->
  <app-section-heading id="specs" title="Specifications"></app-section-heading>

  <app-subsection-heading
    id="discordpy2"
    title="Discord.py v2.0"></app-subsection-heading>

  <p>
    Initially, I used bot commands in discord.py v1.0 to implement the commands.
    However, with the release of discord.py v2.0, I decided to begin migrating
    to use application commands. Application commands offer several benefits,
    including increased stability and better integration with the Discord API.
    However, the migration process is still in progress as I have not yet
    migrated the Music cog.
  </p>

  <app-subsection-heading
    id="hosting"
    title="EC2 Hosting"></app-subsection-heading>

  <p>
    My discord bot is being hosted on a micro EC2 instance on AWS. This allows
    me to keep the bot running 24/7 without needing to keep my own computer
    running. However, there were some challenges involved in setting up and
    maintaining the instance, such as ensuring the server had enough resources
    to handle to bot's tasks and managing server costs.
  </p>

  <app-subsubsection-heading
    id="lazy-loading"
    title="Lazy Loading"></app-subsubsection-heading>

  <p>
    One notable issue with running the bot on such a small server was storage
    capacity. Essentially, whenever a user would attempt to load a playlist with
    over ~20 songs in it, youtubeDL would need to download all of those songs
    before they could be added to the queue. At best, this would cause the bot
    to timeout and leave the VC, at worst this would cause the server to run out
    of available memory and crash.
  </p>
  <p>
    My solution to this was to implement a form of lazy loading. This involved
    storing the songs in the queue as coroutines which could later be run to
    download the source of the audio. This allowed the bot to queue up playlists
    of 100s of songs while only using the memory it absolutely needed when
    running. Additionally, I added another task loop to the queue which loads
    some of the songs preemptively. This allows for the bot to take advantage of
    some of the available memory to reduce the delay in playing the songs and
    allows the <code>!queue</code> command to have a cleaner output.
  </p>

  <app-subsection-heading
    id="url"
    title="URL Conversion"></app-subsection-heading>

  <p>
    Originally the bot's <code>!play</code> command only supported search
    queries and standard YouTube video URLs. However, once I had implemented the
    ability to load YouTube playlists, some users would attempt to load their
    Spotify playlists into the bot. This would typically result in the bot
    crashing as youtubeDL could not properly parse the response from non-YouTube
    URLs.
  </p>
  <p>
    To account for this, I began detecting when someone would use a Spotify URL
    and, using the Spotify API, I would convert the URL into a search query of
    the form: "&lt;Title> by &lt;Artist> lyrics". This search query would be
    properly handled by YoutubeDL most of the time (less popular artists, short
    titles, and non-descript names can result in the wrong video playing but it
    is fairly uncommon).
  </p>
  <p>
    Additionally, I noticed that my approach to detecting and handling these URL
    conversions could be expanded to allow for using some less traditional, but
    still valid, YouTube URLs. These include URLs for YouTube playlists and
    shorts. Currently, the bot supports search queries and URLs of these forms:
  </p>
  <ul>
    <li>youtube.com/watch?v=&lt;id></li>
    <li>youtube.com/shorts/&lt;id></li>
    <li>youtube.com/playlist?list=&lt;id></li>
    <li>youtu.be/&lt;id></li>
    <li>open.spotify.com/track/&lt;id></li>
    <li>open.spotify.com/playlist/&lt;id></li>
    <li>open.spotify.com/album/&lt;id></li>
  </ul>
  <!--Specifications Section End-->

  <!--Credits Section Start-->
  <app-section-heading id="credits" title="Credits"></app-section-heading>

  <p>
    Huge thanks to Valentin B. (vbe0201 on GitHub) for creating the
    <a href="https://gist.github.com/vbe0201/ade9b80f2d3b64643d854938d40a0a2d"
      >original music Discord bot</a
    >
    which became the foundation of my Music cog.
  </p>
  <!--Credits Section End-->
</div>
