<div id="home-content" class="row align-items-center justify-content-center">
  <div class="col-5 px-5">
    <img class="float-end rounded-circle" src="../../assets/me.jpg" width="70%"/>
  </div>
  <div class="col-7 px-5">
    <h1 class="py-0 my-0">Hello,</h1>
    <p class="display-3 py-0 my-0">I'm Aaron Barge</p>
    <p class="display-6 py-0 mt-0 text-primary">Software Developer</p>
    <div class="row ps-3 mt-2 justify-content-between">
      <button class="btn btn-primary col-2">Resume</button>
      <div class="col-9 ps-5 float-right">
        <a class="text-white h3 ps-5" href="https://twitter.com/bargeaaron" role="button">
          <fa-icon [icon]="twitterIcon" class="me-2"></fa-icon>
        </a>
        <a class="text-white h3 ps-2" href="https://stackoverflow.com/users/9073813/aaron-barge" role="button">
            <fa-icon [icon]="stackOverflowIcon" class="me-2"></fa-icon>
        </a>
        <a class="text-white h3 ps-2" href="https://www.linkedin.com/in/aaron-barge-6a75a619a/" role="button">
            <fa-icon [icon]="linkedInIcon" class="me-2"></fa-icon>
        </a>
        <a class="text-white h3 ps-2" href="https://github.com/AaronTheNerd" role="button">
            <fa-icon [icon]="githubIcon" class="me-2"></fa-icon>
        </a>
        <a class="text-white h3 ps-2 pe-5" href="mailto:bargeaaron@gmail.com" role="button">
            <fa-icon [icon]="emailIcon" class="me-2"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>